@media (max-width: 450px) {
  .tabBar {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: var(--color-white);
    border-radius: 24px 24px 0 0;
    padding: 16px 0 19px;

    width: 100%;

    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
  }
}
