.contentContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  min-width: 100px;
  max-width: 450px;
  width: auto;
  border-radius: 24px;
  background-color: tomato;
  padding: 16px;
}
