.contentContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  min-width: 100px;
  max-width: 450px;
  width: auto;
  border-radius: 24px;
  background-color: var(--color-white);
}

.padding-small {
  padding: 16px;
}

.padding-medium {
  padding: 16px;
}

.padding-large {
  padding: 24px 16px;
}
