.inputMain {
  all: unset;

  width: 100%;

  padding: 18px 16px;
  border: 1px solid transparent;
  box-sizing: border-box;

  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
  line-height: var(--font-height);
  color: var(--secondary-text-color);
}

.errorBlock {
  color: var(--block-error-color);
}
