.earningByFlex {
  display: flex;
  gap: 16px;
  min-width: 100px;
  max-width: 100%;
  width: auto;
}

.earningBy {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.earningByTitle {
  font-size: var(--font-10);
  font-weight: var(--font-weight-medium);
  line-height: var(--font-height-10);
  color: var(--secondary-text-color);
}

.earningByPrice {
  font-size: var(--font-12);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-height-12);
  color: var(--main-text-color);
}
